<div>
  <nb-card class="inline-form-card">
    <nb-card-header>Time Tracker</nb-card-header>
    <nb-card-body>
      <nb-toggle class="toggle-btn" (checkedChange)="toggleAdvanced()" labelPosition="start">Advanced</nb-toggle>
      <div class="form-inline timer">
        <nb-select placeholder="Module" [(ngModel)]="newEvent.module">
          <nb-option value="CS3240">CS3240</nb-option>
          <nb-option value="GES1002">GES1002</nb-option>
          <nb-option value="LAC1201">LAC1201</nb-option>
          <nb-option value="GET1020">GET1020</nb-option>
        </nb-select>
        <nb-select placeholder="Task" [(ngModel)]="newEvent.task">
          <nb-option value="Assignment">Assignment</nb-option>
          <nb-option value="Tutorial">Tutorial</nb-option>
        </nb-select>
        <input type="text" nbInput fullWidth placeholder="What are you working on?" [(ngModel)]="newEvent.note">
      </div>
    
      <div class="form-inline" *ngIf="!advanced">
        <countup-timer [countUpTimerConfig]="testConfig"></countup-timer>
        <button (click)="start()" nbButton status="primary">Start</button>
        <button (click)="pause()" nbButton status="primary">Pause</button>
        <button (click)="stop()" nbButton status="primary">Stop</button>
      </div>
      <div class="form-inline advanced" *ngIf="advanced">
        <input nbInput fullWidth class="form-control" type="text" mwlFlatpickr [(ngModel)]="newEvent.start" 
          [altInput]="true" [convertModelValue]="true" [enableTime]="true" [enableSeconds]="true" dateFormat="H:i:s Y-m-d"
          altFormat="F j, Y H:i:s" placeholder="Not set" />
        <input nbInput fullWidth class="form-control" type="text" mwlFlatpickr [(ngModel)]="newEvent.end" 
            [altInput]="true" [convertModelValue]="true" [enableTime]="true" [enableSeconds]="true" dateFormat="H:i:s Y-m-d"
            altFormat="F j, Y H:i:s" placeholder="Not set" />
        <button *ngIf="advanced" (click)="addNewEvent()" nbButton status="primary">Add</button>
      </div>

    </nb-card-body>
  </nb-card>
</div>



<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Module</th>
        <th>Task</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input type="text" class="form-control" [(ngModel)]="event.module" (keyup)="refresh.next()" />
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="event.task" (change)="refresh.next()" />
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" [enableSeconds]="true"
                dateFormat="H:i:s Y-m-d" altFormat="F j, Y H:i:s" placeholder="Not set"/>
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true" [enableSeconds]="true"
                dateFormat="H:i:s Y-m-d" altFormat="F j, Y H:i:s" placeholder="Not set"/>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


