
@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  nb-tabset {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  :host ::ng-deep ngx-tab1, :host ::ng-deep ngx-tab2 {
    display: block;
    padding: 1rem 2rem;
  }
}
h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0; 
}

.test {
  background-clip:
padding-box
;
background-color:
rgb(255, 255, 255)
;
border-bottom-color:
rgb(206, 212, 218)
;
border-bottom-left-radius:
4px
;
border-bottom-right-radius:
4px
;
border-bottom-style:
solid
;
border-bottom-width:
0.996094px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(206, 212, 218)
;
border-left-style:
solid
;
border-left-width:
0.996094px
;
border-right-color:
rgb(206, 212, 218)
;
border-right-style:
solid
;
border-right-width:
0.996094px
;
border-top-color:
rgb(206, 212, 218)
;
border-top-left-radius:
4px
;
border-top-right-radius:
4px
;
border-top-style:
solid
;
border-top-width:
0.996094px
;
box-sizing:
border-box
;
color:
rgb(73, 80, 87)
;
cursor:
text
;
display:
block
;
font-family:
"Open Sans", sans-serif
;
font-size:
16px
;
font-stretch:
100%
;
font-style:
normal
;
font-variant-caps:
normal
;
font-variant-east-asian:
normal
;
font-variant-ligatures:
normal
;
font-variant-numeric:
normal
;
font-weight:
400
;
height:
37.9883px
;
letter-spacing:
normal
;
line-height:
24px
;
margin-bottom:
24px
;
margin-left:
0px
;
margin-right:
24px
;
margin-top:
0px
;
overflow-x:
visible
;
overflow-y:
visible
;
padding-bottom:
6px
;
padding-left:
12px
;
padding-right:
12px
;
padding-top:
6px
;
text-align:
start
;
text-indent:
0px
;
text-rendering:
auto
;
text-shadow:
none
;
text-size-adjust:
100%
;
text-transform:
none
;
transition-delay:
0s, 0s
;
transition-duration:
0.15s, 0.15s
;
transition-property:
border-color, box-shadow
;
transition-timing-function:
ease-in-out, ease-in-out
;
vertical-align:
middle
;
width:
243.477px
;
word-spacing:
0px
;
writing-mode:
horizontal-tb
;
-webkit-appearance:
none
;
-webkit-font-smoothing:
antialiased
;
-webkit-rtl-ordering:
logical
;
-webkit-tap-highlight-color:
rgba(0, 0, 0, 0)
;
-webkit-border-image:
none
;
}